

.CheckBox input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
.CheckBox input[type="checkbox"] {
  opacity:0;
}

.CheckBox input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #333;
  content: "\2713";
  text-align: center;
}

.CheckBox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}